.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: calc(var(--offset-base-size)*10);
  margin-top: calc(var(--offset-base-size)*6);
  margin-bottom: calc(var(--offset-base-size)*12.5);
  composes: pl-4 pr-4 from global;
}

.total {
  display: flex;
  align-items: center;
  gap: calc(var(--offset-base-size)*2);
  composes: text text_type_digits-medium from global;
}

/* через className для CurrencyIcon не задается */
.total svg {
  width: calc(var(--offset-base-size)*9);
  height: calc(var(--offset-base-size)*9);
}
