.list {
  display: flex;
  max-height: 80vh;
  flex-direction: column;

  overflow: auto;
  composes: custom-scroll list-reset from global;
}

.list::-webkit-scrollbar {
  width: calc(var(--offset-base-size)*2);
}

.list::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: none;
}

/* лента в Истории заказов */
.historyList {
  width: 860px;
  gap: calc(var(--offset-base-size)*6);
}
.historyList li {
  max-width: 844px;
}

/* лента в Ленте заказов */
.feedList {
  width: 600px;
  gap: calc(var(--offset-base-size)*4);
}
.feedList li {
  max-width: 584px;
}
