.circleBack {
  box-sizing: border-box;
  position: relative;
  width: 64px;
  height: 64px;
  background: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  border-radius: 50%;
}

.circleFront {
  box-sizing: border-box;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 60px;
  height: 60px;
  padding: 2px;
  border-radius: 50%;
  background: var(--background-alt, #131316);

  overflow: hidden;
}

.img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
