.marginSmall {
  justify-content: space-between;
  gap: calc(var(--offset-base-size)*10);
  margin: calc(var(--offset-base-size)*10) auto auto;
}

.marginMedium {
  justify-content: center;
  gap: calc(var(--offset-base-size)*10);
  margin: calc(var(--offset-base-size)*30) auto auto;
}

.marginLarge {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: calc(var(--offset-base-size)*45) auto auto;
}

.content {
  width: 880px;
}
