.container {
  max-width: 320px;
}

.list a {
  text-decoration: none; /* убираем подчеркивание NavLink по умолчанию */
}

.list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.link {
  display: flex;
  height: 64px;
  align-items: center;
  color: var(--text-dark-grey-secondary-text, #8585AD);
  composes: text text_type_main-medium from global;

  cursor: pointer;
}

.link:hover {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}

.link_active {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}

.review {
  opacity: 0.4;
  text-wrap: balance; /* для более приятного глазу выравнивания внутри блока */
}
