.details {
  text-align: center;
  composes: mb-5 from global;
}

.img {
  width: 480px;
  height: 240px;
}

.name {
  margin-bottom: calc(var(--offset-base-size)*8);
  composes: mt-4 text text_type_main-medium from global;
}

.list {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  gap: calc(var(--offset-base-size)*5);
  list-style-type: none;
}

.item {
  display: flex;
  min-width: 112px;
  max-width: 130px;
  flex-direction: column;
  gap: calc(var(--offset-base-size)*2);
}

.category {
  composes: text text_type_main-default text_color_inactive from global;
}

.number {
  composes: text text_type_digits-default text_color_inactive from global;
}
