.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(var(--offset-base-size)*4);

  margin: 0;
  padding-top: 0;
  padding-right: calc(var(--offset-base-size)*2);
  padding-bottom: calc(var(--offset-base-size)*10);
  padding-left: calc(var(--offset-base-size)*4);
  list-style-type: none;

  max-width: 600px;
  max-height: 60vh;
  overflow: auto;
  composes: custom-scroll from global;
}

.wrapper::-webkit-scrollbar {
  /* margin-top: calc(var(--offset-base-size)*4);
  margin-bottom: calc(var(--offset-base-size)*4); */
  position: absolute;
  top: 96px;
  right: 0;
}
