.list {
  display: grid;
  max-width: 272px;
  grid-template-columns: repeat(10, 1fr);
  gap: calc(var(--offset-base-size)*2);

  overflow: auto;
  overflow-y: hidden;
  composes: custom-scroll list-reset text text_type_digits-default from global;
}

.done {
  color: var(--colors-interface-success, #0CC);
}

.inWork {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}
