@keyframes slicing {
  0% {
    opacity: 0;
    left: 0%;
  }
  25% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
    left: 70%;
  }
  75% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
    left: 0%;
  }
}

@keyframes points {
  to {
    clip-path: inset(0 -1ch 0 0)
  }
}

.commonStyle {
  composes: text text_type_main-medium from global;
}

.slowSlicing {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--offset-base-size)*10);

  composes: text text_type_main-large from global;
  animation: slicing 20s linear infinite;
}

.loadingPoints {
  clip-path: inset(0 3ch 0 0);
  animation: points 2.5s steps(4) infinite;
}
