:root {
  --button-normal: linear-gradient(63.18deg, #801ab3 0%, #4c4cff 100%);
  --text-primary-light-standart-text: #F2F2F3;
}

/* reset list-style */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* page style "s" */
.ps-s {
  justify-content: space-between;
  gap: calc(var(--offset-base-size)*10);
  margin: calc(var(--offset-base-size)*10) auto auto;
}

/* page style "m" */
.ps-m {
  justify-content: center;
  gap: calc(var(--offset-base-size)*15);
  margin: calc(var(--offset-base-size)*10) auto auto;
}

/* page style "l" */
.ps-l {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: calc(var(--offset-base-size)*45) auto auto;
}
