.section {
  display: flex;
  flex-direction: column;
}

.title {
  composes: text text_type_main-large mb-5 from global;
}

.nav {
  display: flex;
  margin-bottom: calc(var(--offset-base-size)*10);
}

.list {
  margin: 0;
  padding: 0;

  display: flex;
  list-style-type: none;
}

.item {
  display: flex;
  color: var(--text-dark-grey-secondary-text, #8585AD);
  padding-left: calc(var(--offset-base-size)*10);
  padding-right: calc(var(--offset-base-size)*10);

  composes: text text_type_main-default pb-4 pt-4 from global;
}

.item:hover {
  opacity: .6;
}

.item_active {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}

.wrapper {
  overflow: auto;
  max-width: 600px;
  max-height: calc(var(--offset-base-size)*178);

  composes: custom-scroll from global;
}

.wrapper::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size)*12);
}

.wrapper::-webkit-scrollbar {
  width: calc(var(--offset-base-size)*2);
}

.wrapper::-webkit-scrollbar-thumb {
  height: calc(var(--offset-base-size)*123);
  border: none;
  border-radius: 0;
}
