.wrapper {
  background-color: var(--interface-modal-bg, #1C1C21);
}

.header {
  max-width: 1280px;
  margin: 0 auto;

  composes: pb-4 pt-4 from global;
}

.header a {
  text-decoration: none; /* убираем подчеркивание NavLink по умолчанию */
}

.list {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--offset-base-size)*2);
  composes: list-reset from global;
}

.link {
  display: flex;
  gap: calc(var(--offset-base-size)*2);
  border-radius: calc(var(--offset-base-size)*10);
  color: var(--text-dark-grey-secondary-text, #8585AD);
  composes: text text_type_main-default pl-5 pr-5 pb-4 pt-4 from global;

  cursor: pointer;
}
.link svg {
  fill: var(--text-dark-grey-secondary-text, #8585AD);
}

.link:hover {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}
.link:hover svg {
  fill: var(--text-primary-light-standart-text, #F2F2F3);
}

/* стили для выбранного пункта навигации */
.link_active {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}
.link_active svg {
  fill: var(--text-primary-light-standart-text, #F2F2F3);
}

.link_start {
  flex: 50%;

  display: flex;
  justify-content: flex-start;
}

.link_centered {
  flex: 33%; /* выравниваем по центру хедера несмотря на разное расстояние от элементов по бокам */

  display: flex;
  justify-content: center;
  align-items: center;
}
.link_centered a {
  max-height: 50px;
}

.link_end {
  flex: 50%;

  display: flex;
  justify-content: flex-end;
}
